/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.ct-scroll {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;

    &__line {
        display: inline-flex;
        position: relative;

        &__events {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .ct-event {
            position: absolute;
            background-color: yellow;
            border-radius: 2px;
            border: 1px solid #000;
            text-align: center;
            align-content: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: inherit;
        }
    }

    &__column {
        display: flex;
        align-items: center;
        border: 1px solid grey;
        min-height: 30px;
    }
}