/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.ct-scroll {
    display: inline-block;
    background-color: darkslategray;
    position: relative;

    &__line {
        display: grid;
        padding: 2px 0;

        .ct-event {
            background-color: yellow;
            border-radius: 2px;
            border: 1px solid #000;
            text-align: center;
            align-content: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0 5px;
        }
    }
}