/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.ct-sidebar {
    width: 200px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    //justify-content: flex-end; // todo --- isto por causa do scroll
    flex: 1 0 auto;

    .ct-sidebar-group-item {
        display: flex;
        align-items: center;
        height: 45px;
        background-color: #F3F3F3;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
    }
}
