/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.ct-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    z-index: 10;

    .ct-sidebar-group-item {
        display: flex;
        align-items: center;
        height: 30px;
        background-color: #F3F3F3;
        border-top: 1px solid grey;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
    }
}
