/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.rt-wrapper {
    display: inline-flex;
    width: 100%;
}

.rt-outer {
    display: flex;
}

.rt-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
}
