/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.rt-wrapper {
    display: inline-flex;
    width: 100%;
}

.rt-outer {
    display: flex;
}

.rt-container {
    overflow: auto;
    scroll-behavior: smooth;
    display: grid;
    //grid-template-rows: auto;

    .ct-header-top {
        grid-row: 1 / 2;
        padding: 5px 0;
    }
}
