/**
 *
 * @Copyright 2021 VOID SOFTWARE, S.A.
 *
 */

.rt-wrapper {
    display: inline-flex;
    width: 100%;
}

.rt-outer {
    display: flex;
}

.rt-container {
    overflow: auto;
    scroll-behavior: smooth;
}
